<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name.capitalize %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= restaurant.address.capitalize %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category.capitalize %>
  </p>


</div>
